<!-- <header class="header">
  <div class="logo-section">
    <h1>📊 Habit Tracker</h1>
    <p>Build Consistency, One Day at a Time</p>
  </div>

  <div class="month-info">
    <span>{{ currentMonth }} {{ currentYear }}</span>
  </div>
    <div class="logout">
    <button class = "btn btn-primary" (click)="onLogout()">logout</button>
  </div>
</header> -->


<!-- <header class="netflix-header">
  <div class="left-section">
    <a class="logo" routerLink="/">HABBIT</a>

    <nav>
       <a routerLink="/welcome/">Home</a>
      <a routerLink="/habit-tracker/krishna">Habits</a> 
    </nav>
  </div>

  <div class="right-section">
    @if (!authService.isAuthenticated()) {
      <a routerLink="/login">Login</a>
    }@else{
      <a (click)="onLogout()">Logout</a>
    }
  </div>
</header> -->

<header class="netflix-header">
  <div class="left-section">
    <a class="logo" routerLink="/">HABBIT</a>

    @if (authService.isAuthenticated()) {
      <nav>
   <a [routerLink]="['/welcome', authService.username()]">Home</a>

    <a [routerLink]="['/habit-tracker', authService.username()]">
      Habits
    </a>
   </nav>
    }
  </div>

  <div class="right-section">
    @if (!authService.isAuthenticated()) {
      <a routerLink="/login">Login</a>
    } @else {
      <span class="username"> Welcome {{ authService.username() }}</span>
      <a href="#" (click)="onLogout(); $event.preventDefault()">Logout</a>
    }
  </div>
</header>